<div class="container-fluid bg-4 contact">
  <div class="row">
    <div class="col-lg-12">
      <h1>CONTACT US</h1><hr>
    </div>
    <div class="col-lg-4">
      <img src="../assets/img/location.png"><br>
      Keas 69 Str.<br>
      15234, Chalandri<br>
      Athens,<br>
      Greece<br>
      </div>
    <div class="col-lg-4">
      <img src="../assets/img/phone.png"><br>
      +30-2106019311<br> 
      +30-6977664062 </div>
    <div class="col-lg-4">
      <img src="../assets/img/email.png"><br>
      tripmela@gmail.com
    </div>
  </div>
</div>
<div class="container-fluid bg-5">
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright 2019 @ Tripmela</p>
    </div>
  </div>
</div>