.bg-1{
    background-color: #4C6375;
}
.bg-2{
    background-color: #000000;
    color:rgb(190, 190, 190);
}   
/* contact section */
.contact-info,.contact-form{
    min-height: 100%;
    padding: 40px 100px;
    color: #fff;
}

.contact-info img{
    max-width:80px; 
}






/* ***** */
.contact-form input{
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 5px 5%;
    border: none;
    
}
.contact-form textarea{
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    height: 115px;
    margin: 10px;
    border: none;
    padding: 5px 5%;
}
.contact-form button{
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    height: 45px;
    margin: 10px;
    background-color: #1381D6;
    color:#fff;
    border: none;
}
.contact-form button:hover{
    box-shadow: 0 8px 16px 0 rgba(48, 48, 48, 0.2), 0 6px 20px 0 rgba(82, 82, 82, 0.19);
}

@media(max-width:1180px){
    .contact-info,.contact-form{
        padding: 40px 50px;
    }
}
@media(max-width:900px){
    .contact-info,.contact-form{
        padding: 40px 30px;
    }
}
@media(max-width:380px){
    .contact-info,.contact-form{
        padding: 40px 10px;
    }
}