
<div class="header-container">
    <div class="container-fluid">
      <div class="conatainer-fluid h-100">
        <div class="header-info">
          <h1>About us</h1>
          <h3>
            Here we try to provide you the freedom to choose the best package amongst the lot. You get a chance to view , analyze different packages which would lead you to select the most appropriate and the best one. We are here with an objective to make people's life easy and bringing the world a bit more closer. All you have to do is like this page and enjoy the benefits.
          </h3>
        </div>
      </div>
    </div>
</div>
