<div *ngIf="this.id == 1" class="login-signup-block">

  <input type="email" name="user_email" id="user_email" required  placeholder="Enter name"pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">

  <!-- <div *ngIf="user_email.invalid && (user_email.dirty || user_email.touched)" class="alert alert-danger">

      <p *ngIf="user_email.errors.required">
          email is required. 
      </p>
  </div> -->

  <input type="password"  name="user_password" id="user_password" required  placeholder="Enter email">

  <!-- <div *ngIf="user_password.invalid && (user_password.dirty || user_password.touched)" class="alert alert-danger">

      <p *ngIf="user_password.errors.required">
          password is required
      </p>
  </div> -->

  <input type="email"  name="user_email" id="user_email" required  placeholder="Enter phone"pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">

  <!-- <div *ngIf="user_email.invalid && (user_email.dirty || user_email.touched)" class="alert alert-danger">

      <p *ngIf="user_email.errors.required">
          email is required. 
      </p>
  </div> -->

  <input type="password"  name="user_password" id="user_password" required  placeholder="Enter password" pattern="">

  <!-- <div *ngIf="user_password.invalid && (user_password.dirty || user_password.touched)" class="alert alert-danger">

      <p *ngIf="user_password.errors.required">
          password is required
      </p>
  </div> -->

  <input type="password"  name="user_password" id="user_password" required  placeholder="Confirm password" pattern="">

  <!-- <div *ngIf="user_password.invalid && (user_password.dirty || user_password.touched)" class="alert alert-danger">

      <p *ngIf="user_password.errors.required">
          password is required 
      </p>
  </div> -->

  <button type="button" class="btn btn-info">Register</button>
  <p>Already a member?
    <a [routerLink]="['/login-signup']">Login</a> now</p>

</div>
