<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12 mt-5 package-image">
          <img src="../assets/img/travel-hd.jpg">
        </div>
        <div class="col-lg-12 discription-package mt-5 mb-5">
          <h3 style="color: black">PACKAGE: {{data.name}} </h3>
         <h4 style="color:  royalblue" >AGENCY: {{data.agency}}</h4>
         <h4 style="color:  royalblue" >START: {{data.start}}</h4>
         <h4 style="color:  royalblue" >END: {{data.end}}</h4>
         <h4 style="color:  royalblue" >RATE: {{data.rate}}</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-6 package-details mt-5 mb-5">
      <h1>Package Aggregator <hr></h1>
      
    </div>
  </div>
</div>
