<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12 mt-5 package-image">
          <img src="../assets/img/travel-hd.jpg">
        </div>
        <div class="col-lg-12 discription-package mt-5 mb-5">
         <h3>package{{name}}<hr></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sunt tempore quis dolor pariatur rem, ea voluptatibus debitis eligendi repellat ipsum, assumenda recusandae fugit officiis. Quod, minima voluptate! Totam, aliquam.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 package-details mt-5 mb-5">
      <h1>Package Aggregator<hr></h1>

    </div>
  </div>
</div>
