<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">
    <div class="container-fluid">
      <app-nav></app-nav>
      <div class="conatainer-fluid h-100">
        
        <app-login-signup></app-login-signup>
        <app-signup-login></app-signup-login>
        <div class="header-info">
          <h1>WHY WITH US</h1>
          <h3>
            Here we try to provide you the freedom to choose the best package amongst the lot. You get a chance to view , analyze different packages which would lead you to select the most appropriate and the best one. We are here with an objective to make people's life easy and bringing the world a bit more closer. All you have to do is like this page and enjoy the benefits.Trip Mela intents to provide trip lovers the details of large number of unique packages hosted by Travel agencies across the nation. This would save both money and time searching for packages.
          </h3>
        </div>
      </div>
    </div>
</div>


<div class="container-fluid">
  <div class="row features">
    <div class="col-lg-12"><h1>Features<hr></h1></div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4">
          <img src="../assets/img/package aggregator.png">
        </div>
        <div class="col-lg-8">
          <h3 style="text-align:left;">Package Aggregator</h3>
          <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <div class="col-lg-4">
            <img src="../assets/img/easy price comparison.png">
          </div>
          <div class="col-lg-8">
            <h3 style="text-align:left;">Easy Money Comparrison</h3>
            <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <div class="col-lg-4">
            <img src="../assets/img/package on go.png">
          </div>
          <div class="col-lg-8">
            <h3 style="text-align:left;">Package On Go</h3>
            <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
      </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-4">
              <img src="../assets/img/cost estimate.png">
            </div>
            <div class="col-lg-8">
              <h3 style="text-align:left;">Cost Estimator</h3>
              <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div> 
  </div>
</div>
<div class="container-fluid">
  <div class="row location">
    <div class="col-lg-4 bg-1">
      <h1>Location 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-lg-4 bg-2">
      <h1>Location 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-lg-4 bg-3">
      <h1>Location 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
    </div>
  </div>
</div>
<router-outlet>

</router-outlet>
