html,body{
    height: 100%;
}

.header-container .container-fluid{
    background-image: url('../assets/img/bg-img-landing-page.png');
    background-size: cover;
    background-position: center;
    padding-right:0;
    padding-left:0;
}

.container-fluid:after{
    clear: both;
}
.features .col-lg-4,.col-lg-12{
    text-align: center;
    padding: 50px 15px;
}
.features .col-lg-4 h3{
    margin-top:70px
}
.location .col-lg-4{
    height: 400px;
    text-align: center;
    padding: 50px;
}
.location p{
    margin-top: 50px;
}
.location .bg-1{
    background-color: #9ABED9;
}
.location .bg-2{
    background-color: #78AED8;
}
.location .bg-3{
    background-color: #9ABED9;
}
.features hr{
    width: 200px;
    border: none;
    border-bottom: 4px solid #1381D6;
}
.landingpage-header:after{
    width: 100%;
    background: rgba(19, 129, 214, 0.2);
    height: calc(100% - 110px);
    position: absolute;
    top: 110px;
    z-index: 1;
}
.header-info{
    margin: 400px 0 100px 50px;
    color: rgb(255, 255, 255);
    width: 60%;
    text-align: left;
    float: left;
}
.header-info::after{
    clear: both;
}
.header-info h1{
    margin-bottom:50px;
    font-size: 48px;
}
.header-info h3{
    font-size: 28px;
}

@media(max-width:1200px){
    .header-info{
        margin-top:50px;
    }
}
