.landingpage-header{
    background-image: url('../assets/img/bg-img-landing-page.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    background-color: #1381D6;
    height: calc(100% - 112px);
    position: absolute;
    top: 112px;
    opacity: 1;
    z-index: -1;
}


.landingpage-header:after{
    width: 100%;
    background: rgba(19, 129, 214, 0.2);
    height: calc(100% - 110px);
    position: absolute;
    top: 110px;
    z-index: 1;
}
.header-info{
    color: rgb(0, 0, 0);
    width: 60%;
    text-align: left;
}
.header-info h1{
    margin-bottom:50px;
    font-size: 48px;
}
.header-info h3{
    font-size: 28px;
}


