<!--The content below is only a placeholder and can be replaced.-->
 <div class="container-fluid">
  <div class="conatainer-fluid">
    <app-nav></app-nav>
    <app-login-signup></app-login-signup>
    <app-signup-login></app-signup-login>
    <div class="header-info">
      <h1>WHY WITH US</h1>
      <h3>
        Here we try to provide you the freedom to choose the best package amongst the lot. You get a chance to view , analyze different packages which would lead you to select the most appropriate and the best one. We are here with an objective to make people's life easy and bringing the world a bit more closer. All you have to do is like this page and enjoy the benefits.Trip Mela intents to provide trip lovers the details of large number of unique packages hosted by Travel agencies across the nation. This would save both money and time searching for packages.
      </h3>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">rol-1</div>
  </div>
</div>

<router-outlet>

</router-outlet>
