
<div  class="login-signup-block">
        <input type="text" [(ngModel)]="register.name" name="name" id="name" required placeholder="Enter name" #name="ngModel">
        <p style="color: red" *ngIf="errors">{{usernameError}}</p>

        <input type="email" [(ngModel)]="register.email" name="email" id="email" required placeholder="Enter email" #email="ngModel" >
        <p style="color: red" *ngIf="errors">{{emailError}}</p>
        <input type="text" [(ngModel)]="register.phone" name="phone" id="user_phone" required placeholder="Enter phone" #phone="ngModel">
        <p style="color: red" *ngIf="errors">{{phoneError}}</p>
        <input type="password" [(ngModel)]="register.password" name="password" id="user_password" required placeholder="Enter password"
            #password="ngModel">
            <p style="color: red" *ngIf="errors">{{passwordError }}</p>    
        <button type="button"  class="btn btn-primary"  (click)="Register(register);">Register</button>
        <p>Already a member?
            <a [routerLink]="['/login']">Login</a> now</p>

</div>