
<div class="login-signup-block">

    <input type="email" [(ngModel)]="login.username" name="username" id="username" required #username="ngModel" placeholder="Enter email"pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">

    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

        <p *ngIf="username.errors.required">
            email is required. 
        </p>
    </div>

    <input type="password" [(ngModel)]="login.password" name="password" id="password" required #password="ngModel" placeholder="Enter password">

    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

        <p *ngIf="password.errors.required">
            password is required
        </p>
    </div>

    <button type="button" (click)="login_info(login);">Login</button>
    <p>Not a member?<a [routerLink]="['/signup-login']">Sign up</a> now</p>

</div>


